@import "tailwindcss";

:root {

}

@theme  {
  /* --color-blue:var(--main-blue); */
   --color-blue: #0000FE;
   --spacing-mob-padding-x: 740px;
    --font-inter: 'Inter', sans-serif;
}



body {
 background-color: white;
 
}

.inter-cl{
  font-family: var(--font-inter)!important;
}
